.navbar-custom {
    background-color: #f8f9fa;
    border-bottom: 2px solid #ccc;
}
.nav-link {
    color: #000 !important;
}
.carousel-container {
    border: 2px solid #ccc;
    padding: 10px;
    margin: 20px auto;
    max-width: 95%;
}
.carousel-indicators button {
    background-color: black;
    border: 1px solid black;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: gray;
    border-radius: 50%;
    padding: 10px;
}
.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 250px; 
    object-fit: contain; 
    display: block;
}
.content-section {
    text-align: left;
    margin-top: 30px;
}
.centrar {
    text-align: center;
}

.bg-dark {
    background-color: black !important;
}

.text-blue {
    color: blue !important;
}